<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_member.html">

<div id="member-signup" layout:fragment="content">
	<section class="signup">
		<h1>약관</h1>
		<section>
			<h3><span class="essential">(필수)</span>맨유스토어 이용약관</h3>
			<textarea class="terms" readonly="readonly">[[${termsVo.terms}]]</textarea>
			<label><input type="checkbox" name="agree1">동의합니다.</label>
		</section>
		
		<section>
			<h3><span class="essential">(필수)</span>개인정보 수집 및 이용</h3>
			<textarea class="terms" readonly="readonly">[[${termsVo.privacy}]]</textarea>
			<label><input type="checkbox" name="agree2">동의합니다.</label>
		</section>
			
		<section>
			<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
			<textarea class="terms" readonly="readonly">[[${termsVo.finance}]]</textarea>
			<label><input type="checkbox" name="agree3">동의합니다.</label>
		</section>
		
		<section>
			<h3><span class="optional">(선택)</span>이메일/휴대폰 수신 동의</h3>
			<textarea class="terms" readonly="readonly">[[${termsVo.reception}]]</textarea>
			<label><input type="checkbox" name="agree4">동의합니다.</label>
		</section>
		
		<div>
			<input type="button" class="agree" value="동의하기">
		</div>
	</section>
</div>
</html>