<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_main.html">

 
<section layout:fragment="content">
	<!-- 슬라이더 영역 -->
	<section class="slider">
	    <ul>
	        <li><a href="#"><img th:src="@{/img/mu_slider1.png}" alt="slider1" width="100%" height="auto"></a></li>
	        <li><a href="#"><img th:src="@{/img/mu_slider2.png}" alt="slider2"></a></li>
	        <li><a href="#"><img th:src="@{/img/mu_slider3.png}" alt="slider3"></a></li>
	        <li><a href="#"><img th:src="@{/img/mu_slider4.png}" alt="slider4"></a></li>
	    </ul>
	</section>
	
	
	<!-- KITS 영역 -->
	<section class="kits">
	        <h3><span>히트상품</span></h3>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item1.png}" alt="hit1">
	                </div>
	                <h2>맨유 홈저지 2020-21</h2>
	                <p>맨체스터 유나이티드 홈 저지</p>
	
	                <div class="org_price">
	                    <del>106,900</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>96,210</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item2.png}" alt="hit1">
	                </div>
	                <h2>맨유 트래블 재킷</h2>
	                <p>맨유 트래블 재킷 - 적갈색</p>
	
	                <div class="org_price">
	                    <del>154,400</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>138,960</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item3.png}" alt="hit1">
	                </div>
	                <h2>맨유 트레이닝 탑</h2>
	                <p>맨유 트레이닝 탑 - 화이트</p>
	
	                <div class="org_price">
	                    <del>106,900</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>96,210</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item4.png}" alt="hit1">
	                </div>
	                <h2>맨유 트레이닝 탑</h2>
	                <p>맨유 트레이닝 탑 - 그린</p>
	
	                <div class="org_price">
	                    <del>130,600</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>117,540</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item5.png}" alt="hit1">
	                </div>
	                <h2>맨유 골키퍼 홈 저지</h2>
	                <p>맨유 골키퍼 홈 저지 2020-21</p>
	
	                <div class="org_price">
	                    <del>116,400</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>104,760</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item6.png}" alt="hit1">
	                </div>
	                <h2>맨유 골키퍼 어웨이 저지</h2>
	                <p>맨유 골키퍼 어웨이 저지 2020-21</p>
	
	                <div class="org_price">
	                    <del>118,800</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>106,920</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item7.png}" alt="hit1">
	                </div>
	                <h2>맨유 Anthem 재킷</h2>
	                <p>맨유 Anthem 재킷 - 블랙</p>
	
	                <div class="org_price">
	                    <del>106,900</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>96,210</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{/img/mu_item8.png}" alt="hit1">
	                </div>
	                <h2>맨유 어웨이저지 2020-21</h2>
	                <p>맨체스터 유나이티드 어웨이 저지</p>
	
	                <div class="org_price">
	                    <del>106,900</del>
	                    <span>10%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>96,210</ins>
	                    <span>무료배송</span>
	                </div>
	            </a>
	        </article>
	    </section>
	<!-- TRAINING 영역 -->
	<section class="training">
	    <h3><span>추천상품</span></h3>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item1.png}" alt="hit1">
	            </div>
	            <h2>맨유 홈저지 2020-21</h2>
	            <p>맨체스터 유나이티드 홈 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item2.png}" alt="hit1">
	            </div>
	            <h2>맨유 트래블 재킷</h2>
	            <p>맨유 트래블 재킷 - 적갈색</p>
	
	            <div class="org_price">
	                <del>154,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>138,960</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item3.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 화이트</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item4.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 그린</p>
	
	            <div class="org_price">
	                <del>130,600</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>117,540</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item5.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 홈 저지</h2>
	            <p>맨유 골키퍼 홈 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>116,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>104,760</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item6.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 어웨이 저지</h2>
	            <p>맨유 골키퍼 어웨이 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>118,800</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>106,920</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item7.png}" alt="hit1">
	            </div>
	            <h2>맨유 Anthem 재킷</h2>
	            <p>맨유 Anthem 재킷 - 블랙</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item8.png}" alt="hit1">
	            </div>
	            <h2>맨유 어웨이저지 2020-21</h2>
	            <p>맨체스터 유나이티드 어웨이 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	</section>
	<!-- RETRO 영역 -->
	<section class="retro">
	    <h3><span>최신상품</span></h3>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item1.png}" alt="hit1">
	            </div>
	            <h2>맨유 홈저지 2020-21</h2>
	            <p>맨체스터 유나이티드 홈 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item2.png}" alt="hit1">
	            </div>
	            <h2>맨유 트래블 재킷</h2>
	            <p>맨유 트래블 재킷 - 적갈색</p>
	
	            <div class="org_price">
	                <del>154,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>138,960</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item3.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 화이트</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item4.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 그린</p>
	
	            <div class="org_price">
	                <del>130,600</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>117,540</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item5.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 홈 저지</h2>
	            <p>맨유 골키퍼 홈 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>116,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>104,760</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item6.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 어웨이 저지</h2>
	            <p>맨유 골키퍼 어웨이 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>118,800</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>106,920</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item7.png}" alt="hit1">
	            </div>
	            <h2>맨유 Anthem 재킷</h2>
	            <p>맨유 Anthem 재킷 - 블랙</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item8.png}" alt="hit1">
	            </div>
	            <h2>맨유 어웨이저지 2020-21</h2>
	            <p>맨체스터 유나이티드 어웨이 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	</section>
	<!-- GIFT 영역 -->
	<section class="gift">
	    <h3><span>베스트상품</span></h3>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item1.png}" alt="hit1">
	            </div>
	            <h2>맨유 홈저지 2020-21</h2>
	            <p>맨체스터 유나이티드 홈 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item2.png}" alt="hit1">
	            </div>
	            <h2>맨유 트래블 재킷</h2>
	            <p>맨유 트래블 재킷 - 적갈색</p>
	
	            <div class="org_price">
	                <del>154,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>138,960</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item3.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 화이트</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item4.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 그린</p>
	
	            <div class="org_price">
	                <del>130,600</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>117,540</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item5.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 홈 저지</h2>
	            <p>맨유 골키퍼 홈 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>116,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>104,760</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item6.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 어웨이 저지</h2>
	            <p>맨유 골키퍼 어웨이 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>118,800</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>106,920</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item7.png}" alt="hit1">
	            </div>
	            <h2>맨유 Anthem 재킷</h2>
	            <p>맨유 Anthem 재킷 - 블랙</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item8.png}" alt="hit1">
	            </div>
	            <h2>맨유 어웨이저지 2020-21</h2>
	            <p>맨체스터 유나이티드 어웨이 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	</section>
	<!-- SALE 영역 -->
	<section class="sale">
	    <h3><span>할인상품</span></h3>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item1.png}" alt="hit1">
	            </div>
	            <h2>맨유 홈저지 2020-21</h2>
	            <p>맨체스터 유나이티드 홈 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item2.png}" alt="hit1">
	            </div>
	            <h2>맨유 트래블 재킷</h2>
	            <p>맨유 트래블 재킷 - 적갈색</p>
	
	            <div class="org_price">
	                <del>154,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>138,960</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item3.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 화이트</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item4.png}" alt="hit1">
	            </div>
	            <h2>맨유 트레이닝 탑</h2>
	            <p>맨유 트레이닝 탑 - 그린</p>
	
	            <div class="org_price">
	                <del>130,600</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>117,540</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item5.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 홈 저지</h2>
	            <p>맨유 골키퍼 홈 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>116,400</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>104,760</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item6.png}" alt="hit1">
	            </div>
	            <h2>맨유 골키퍼 어웨이 저지</h2>
	            <p>맨유 골키퍼 어웨이 저지 2020-21</p>
	
	            <div class="org_price">
	                <del>118,800</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>106,920</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item7.png}" alt="hit1">
	            </div>
	            <h2>맨유 Anthem 재킷</h2>
	            <p>맨유 Anthem 재킷 - 블랙</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	    <article>
	        <a href="#">
	            <div class="mu">
	                <img th:src="@{/img/mu_item8.png}" alt="hit1">
	            </div>
	            <h2>맨유 어웨이저지 2020-21</h2>
	            <p>맨체스터 유나이티드 어웨이 저지</p>
	
	            <div class="org_price">
	                <del>106,900</del>
	                <span>10%</span>
	            </div>
	            <div class="dis_price">
	                <ins>96,210</ins>
	                <span>무료배송</span>
	            </div>
	        </a>
	    </article>
	</section>
</section>
        
</html>