<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_member.html">
	  
<header>
  <a href="#"><img th:src="@{/img/mu_header_logo.png}" alt="맨유로고"></a>
</header>
    
<div id="member-join" layout:fragment="content">
  <section class="join">
    <img th:src="@{/img/mu_join1.png}" class="welcome" alt="welcome to manutd store">
    <div class="type">
      <div class="normal">
        <img th:src="@{/img/member_join_tit_normal.gif}" alt="구매회원 가입">
        <div class="txt">
          <img th:src="@{/img/member_join_txt_normal.gif}" alt="개인 구매회원">
          <a th:href="@{/member/signup?type=normal}"><img th:src="@{/img/member_join_btn1.gif}" alt="회원가입"></a>
        </div>
      </div>
      <div class="seller">
        <img th:src="@{/img/member_join_tit_seller.gif}" alt="판매회원 가입">
        <div class="txt">
          <img th:src="@{/img/member_join_txt_seller.gif}" alt="개인 구매회원">
          <a th:href="@{/member/signup?type=seller}"><img th:src="@{/img/member_join_btn2.gif}" alt="회원가입"></a>
        </div>
      </div>
    </div>
    <img th:src="@{/img/mu_join3.png}" class="banner" alt="신규가입 혜택">
    <img th:src="@{/img/mu_join4.png}" class="banner" alt="카카오페이 결제 혜택">
  </section>
</div>
</html>