<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>맨유:join</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/member.css"/>
    <style>

    </style>
</head>
<body>
    <div id="member-wrapper">
      <header>
        <a href="#"><img src="../img/mu_header_logo.png" alt="맨유로고"></a>
      </header>
      <main>
        <div id="member-join">
          <section class="join">
            <img src="../img/mu_join1.png" class="welcome" alt="welcome to manutd store">
            <div class="type">
              <div class="event">
                <img src="../img/mu_join2.png" alt="이벤트">
              </div>
            </div>
            <img src="../img/mu_join3.png" class="banner" alt="신규가입 혜택">
            <img src="../img/mu_join4.png" class="banner" alt="카카오페이 결제 혜택">
          </section>
        </div>
      </main>
      <footer>
        <ul>
            <li><a href="#">개인정보 보호 정책</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">사이트맵</a></li>
            <li><a href="#">더 알아보기</a></li>
        </ul>

        <div>
            <p class="footer1">
                <img src="../img/mu_footer_logo.png" alt="푸터로고">
            </p>
            <p class="footer2">
                <strong>MANCHESTER UNITED</strong><br />
                영국 스트렛포드 올드 트래포드<br />
                대표이사 : 김우드워드<br />
                사업자등록번호 : 110-11-12345 사업자정보확인<br />
                통신판매업신고 : 부산 12345호 Fax : 051-211-1123<br />
            </p>
            <p class="footer3">
                <strong>고객센터</strong><br />
                Tel : 051-243-1234 (평일 9:00~18:00)<br />
                올드 트래포드 전용 : 1554-1212 (365일 9:00~18:00)<br />
                부산시 부산진구 구덕로 123번길 맨체스터빌딩<br />
                Fax : 051-243-1111 | Mail : MU@ManUtd.co.kr<br />
            </p>
        </div>
    </footer>
	</div>
</body>
</html>