<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="_header">
	<div class="top">
	    <div>
	        <a th:href="@{/member/login}"><i class="far fa-user"></i>&nbsp;LOGIN</a>
	        <a th:href="@{/member/signup}">SIGN UP</a>
	        <a href="#">MYPAGE</a>
	        <a href="#">HELP</a>
	        <a href="#"><i class="fas fa-star"></i>&nbsp;FAVORITE</a>
	        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;</a>
	    </div>
	</div>
	<div class="logo">
	    <div>
	        <a href="#"><img th:src="@{/img/mu_header_logo.png}" alt="로고"></a>
	        <form action="#">
	            <input type="text" name="search" />
	            <button><i class="fa fa-search"></i></button>
	        </form>
	    </div>
	</div>
	<div class="menu">
	        <ul class="category">
	            <li>
	                <a href="#"><i class="fas fa-futbol"></i>KITS</a>
	                <ul class="category-bar" style="display: none;">
	                    <li><a href="#">&nbsp;Home</a></li>
	                    <li><a href="#">&nbsp;Away</a></li>
	                    <li><a href="#">&nbsp;Third</a></li>
	                    <li><a href="#">&nbsp;GoalKeeper</a></li>
	                </ul>
	            </li>
	            <li>
	                <a href="#"><i class="fas fa-running"></i>&nbsp;TRAINING</a>
	                <ul class="category-bar" style="display: none;">
	                    <li><a href="">&nbsp;MAN</a></li>
	                    <li><a href="">&nbsp;WOMAN</a></li>
	                    <li><a href="">&nbsp;KID</a></li>
	                </ul>
	            </li>
	            <li>
	                <a href="#"><i class="fas fa-tshirt"></i>&nbsp;RETRO</a>
	                <ul class="category-bar" style="display: none;">
	                    <li><a href="">&nbsp;Shirt</a></li>
	                </ul>
	            </li>
	            <li>
	                <a href="#"><i class="fas fa-gift"></i>&nbsp;GIFT</a>
	                <ul class="category-bar" style="display: none;">
	                    <li><a href="">&nbsp;Accessory</a></li>
	                    <li><a href="">&nbsp;Bag</a></li>
	                    <li><a href="">&nbsp;Cap</a></li>
	                    <li><a href="">&nbsp;Flag</a></li>
	                </ul>
	            </li>
	            <li>
	                <a href="#"><i class="fas fa-percentage"></i>&nbsp;SALE</a>
	            </li>
	        </ul>
	        <div>
	            <ul>
	                <li><a href="#">이벤트</a></li>
	                <li><a href="#">주문조회</a></li>
	                <li><a href="#">공지사항</a></li>
	                <li><a href="#">1:1문의</a></li>
	                <li><a href="#">FAQ</a></li>
	            </ul>
	        </div>
	    </div>
</header>
</html>