<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_main.html">
 
<section layout:fragment="content">
	<script th:src="@{/js/mainProductsList.js}"></script>
	
	<!-- 슬라이더 영역 -->
	<section class="slider">
	    <ul>
	        <li><a href="#"><img th:src="@{/img/mu_slider1.jpg}" alt="slider1" width="100%" height="auto"></a></li>
	        <li><a href="#"><img th:src="@{/img/mu_slider2.jpg}" alt="slider2"></a></li>
	        <li><a href="#"><img th:src="@{/img/mu_slider3.jpg}" alt="slider3"></a></li>
	        <li><a href="#"><img th:src="@{/img/mu_slider4.jpg}" alt="slider4"></a></li>
	    </ul>
	</section>
	
	<!-- 히트상품 영역 -->
     <section id="hit" class="hit">
         <h3><span>히트상품</span></h3>
         <article th:each="item:${hitList}">
	            <a href="#">
	                <div class="mu">
	                    <img th:src="@{'/thumb/'+${item.cate1}+'/'+${item.cate2}+'/'+${item.thumb1}}" alt="hit1">
	                </div>
	                <h2>[[${item.name}]]</h2>
	                <p>[[${item.descript}]]</p>
	
	                <div class="org_price">
	                    <del>[[${#numbers.formatInteger(item.price, 3, 'COMMA')}]]</del>
	                    <span>[[${item.discount}]]%</span>
	                </div>
	                <div class="dis_price">
	                    <ins>[[${#numbers.formatInteger(item.salePrice, 3, 'COMMA')}]]</ins>
	                    <span>[[${#numbers.formatInteger(item.delivery, 3, 'COMMA')}]]</span>
	                </div>
	            </a>
	        </article>
	    </section>
	<!-- 추천상품 영역 -->
     <section id="recommend" class="recommend">
         <h3><span>추천상품</span></h3>
         <img style="display:block; margin:0 auto;" th:src="@{/img/loading.gif}" alt="loading">
     </section>
     <!-- 최신상품 영역 -->
     <section id="new" class="new">
         <h3><span>최신상품</span></h3>
         <img style="display:block; margin:0 auto;" th:src="@{/img/loading.gif}" alt="loading">
     </section>
     <!-- 할인상품 영역 -->
     <section id="discount" class="discount">
         <h3><span>할인상품</span></h3>
         <img style="display:block; margin:0 auto;" th:src="@{/img/loading.gif}" alt="loading">                   
     </section>
</section>
        
</html>